<div class="workouts-container">
  <h1>I tuoi Allenamenti 💪</h1>

  <ng-container *ngIf="workouts && workouts.length; else noWorkouts">

    <app-accordion *ngFor="let w of workouts" [title]="w.title">
      <app-workout-card
        [workout]="w"
        (startExercise)="selectedExercise = $event; showStartModal = true">
      </app-workout-card>
    </app-accordion>

  </ng-container>

  <ng-template #noWorkouts>
    <p>Nessun allenamento trovato. 🏋️‍♂️</p>
  </ng-template>

  <!-- MODALE GLOBALE -->
  <app-workout-modal
    [exercise]="selectedExercise"
    [showStart]="showStartModal"
    [showCountdown]="showCountdownModal"
    (close)="showStartModal = false; showCountdownModal = false">
  </app-workout-modal>
</div>