html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* sfondo fisso */
.background {
  position: fixed;
  top: -5vh;
  left: -5vw;
  width: 110vw;
  height: 110vh;

  background-image: url('/assets/icons/sfondo.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: -1;

  /* fix rendering safari */
  transform: translate3d(0,0,0);
}

/* contenuto */
.container {
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;

  color: #f5f5f5;
  font-family: 'Poppins', sans-serif;

  display: flex;
  flex-direction: column;
  padding-top: 100px;
}