html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  width: 100%;

  background: url('/assets/icons/sfondo.webp') no-repeat center center fixed;
  background-size: cover; /* l’immagine copre tutto */

  color: #f5f5f5;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}
